{% load static %}

<style>
    .navbar {
        background-color: var(--navbar-bg-color);
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .navbar-toggler {
        border: none;
        outline: none;
    }

    .navbar-toggler:focus,
    .navbar-toggler:hover {
        border: none;
        outline: none;
        box-shadow: none;
        /* Remove qualquer sombra de foco ou hover */
    }

    .navbar img.logo_senai {
        width: 30%;
        max-width: 100%;
        height: auto;
    }

    .navbar-nav .nav-link {
        color: #fff;
        transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
        padding: 0 15px;
    }

    .navbar-nav .nav-link:hover {
        color: #c70b0b;
        transform: scale(1.1);
    }

    .IconButton-homepage,
    .navbar-toggler {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin: 0 5px;
    }

    .material-symbols-outlined {
        font-size: 24px;
        color: #ffffff;
    }

    .navbar-toggler {
        border: none;
    }

    .btn-close {
        align-items: end;
        right: 0;
    }

    @media (max-width: 1200px) {
        .navbar-nav .nav-link {
            font-size: 14px;
        }
    }

    @media (max-width: 992px) {
        .navbar-nav .nav-link {
            font-size: 12px;
        }

        .navbar-nav .nav-link:hover {
            color: #fff;
            transform: scale(1);
        }
    }

    @media (max-width: 768px) {
        .logo {
            max-width: 400px;
        }
    }

    @media (max-width: 576px) {
        .logo {
            max-width: 330px;
        }
    }
</style>

<nav class="navbar">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" href="/" style="max-width: 40%;">
            <img class="logo_senai" src="{% static 'img/senai_logo.png' %}" alt="Senai Logo">
        </a>

        <!-- Ícones à direita -->
        <div class="d-flex align-items-center">
            <a id="theme-toggle" class="IconButton-homepage">
                <span class="material-symbols-outlined">contrast</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" style="border: none; outline: none;">
                <i class="bi bi-list" style="color: #FFFAFB; font-size: 30px;"></i>
            </button>

        </div>

        <!-- Offcanvas Navbar -->
        <div class="container-fluid">
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                style="background: var(--background); padding: 20px;" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <div class="icon-container"
                        style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                        <!-- Título e ícone à esquerda -->
                        <div>
                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel" style="color: #FFFAFB;">Olá, Carlos
                                Ribeiro!</h5>
                        </div>
                        <!-- Botão close à direita -->
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
                            style="color: #FFFAFB;"></button>
                    </div>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <ul class="navbar-nav">
                            {% if user.is_authenticated and user.is_superuser %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'cadastro' %}">
                                    <i class="bi bi-file-earmark-plus" style="font-size: 20px;"></i> Cadastro
                                </a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                {% if user.is_authenticated %}
                                <a class="nav-link" href="{% url 'logout' %}">
                                    <i class="bi bi-box-arrow-right" style="font-size: 20px;"></i> Logout
                                </a>
                                {% endif %}
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>