{% load static %}

<style>

/* Navbar e outros estilos */
.navbar {
    background-color: var(--navbar-bg-color);
    width: 100%;
    position: fixed;
    top: 0; /* Adicione isto para fixar no topo */
    left: 0; /* Certifique-se de que está começando do lado esquerdo */
    z-index: 1000; /* Certifique-se de que está acima de outros elementos */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Adicione algum padding para espaçamento */
}

.navbar img {
    width: 10%;
    max-width: 100%;
    height: auto;
}

.nav-direita {
    display: flex;
    align-items: center;
}

.logo_senai {
    margin-left: 30px;
}

.IconButton-homepage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.material-symbols-outlined {
    font-size: 24px;
    color: #ffffff;
}



</style>

<nav class="navbar">
    <img class="logo_senai" src="{% static 'img/senai_logo.png' %}" alt="Senai Logo">
    <div class="Buttons-component">
        <a id="theme-toggle" class="IconButton-homepage">
            <span class="material-symbols-outlined">
                contrast
            </span>
        </a>
    </div>
</nav>
