{% extends 'index.html' %}
{% load static %}

{% block title %}
Gestão de Atrasos
{% endblock %}

{% block head %}
<style>
    * {
        font-family: "Kumbh Sans";
    }

    .container-conteudo {
        min-height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: var(--background-color);
        padding: 50px;
        box-sizing: border-box;
    }

    .topo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .titulo {
        color: var(--title);
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
    }

    .container-atrasos {
        display: flex;
        width: 90%;
        max-width: 1200px;
        border-radius: 10px;
        box-sizing: border-box;
        margin: 0 auto;
        justify-content: space-between;
    }

    .lista-alunos {
        flex: 2;
        padding: 20px;
        border-radius: 10px;
        margin-right: 20px;
    }

    .aluno-info {
        padding: 10px;
        border-radius: 20px;
        background: var(--list-bg-color);
        color: var(--text-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 28px 0;
        flex-wrap: wrap;
    }

    .aluno-info i {
        color: var(--button-home);
    }

    .voltar {
        font-family: "Krona One", sans-serif;
        font-size: 1rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        text-align: left;
        position: absolute;
        top: 5rem;
        left: 4.6rem;
    }

    .voltar i {
        margin-right: 4px;
        font-size: 1.1rem;
    }

    .voltar a {
        text-decoration: none;
        color: var(--text-color);
    }

    .titulo-info,
    .detalhes-info {
        margin: 0;
        font-size: 0.9rem;
        color: #260104;
        flex: 1;
        text-align: center;
        color: var(--title);
    }

    .ident {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        flex-wrap: wrap;
    }

    .options {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .options a {
        text-decoration: none;
        color: #870000;
        font-size: 18px;
    }

    .inform {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 10px;
        padding-top: 64px;
        border-radius: 10px;
        align-items: flex-start;
        gap: 10px;
        max-width: 270px;
    }

    .inform h3 {
        margin: 0;
        color: var(--text-color);
    }

    .inform p {
        margin: 5px 0;
        color: var(--text-color);
    }

    .barra-lateral {
        display: flex;
        flex-direction: column;
        background: var(--list-bg-color);
        border-radius: 20px;
        width: 100%;
        padding: 1.2rem;
        text-align: left;
    }

    .barra-lateral h3 {
        align-self: center;
        font-family: "Krona One", sans-serif;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .barra-lateral p {
        font-size: 0.9rem;
    }

    .botao-lateral {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        width: 100%;
    }

    .botao-lateral a {
        text-decoration: none;
        width: 100%;
    }

    .botao-lateral button {
        color: var(--text-color);
        background: var(--list-bg-color);
        text-decoration: none;
        border-bottom: 2px solid transparent;
        border-radius: 10px;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 10px;
    }

    .botao-lateral button:hover {
        color: var(--text-color);
        border: 2px solid #971c32;
    }

    .modal-content {
        background: var(--background);
        border-radius: 20px;
    }

    .modal-btn {
        background: var(--background);
        color: var(--text-color);
    }

    .btn:hover {
        background: #971c32;
        color: #fff;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    @media (max-width: 768px) {
        .container-atrasos {
            flex-direction: column;
            align-items: center;
        }

        .lista-alunos,
        .inform {
            width: 100%;
            max-width: none;
        }

        .aluno-info {
            flex-direction: column;
        }

        .inform {
            margin-top: 20px;
        }
    }
</style>
{% endblock %}

{% block body %}
<div class="container-conteudo animate downUp-1">
    <div class="topo">
        <div class="voltar">
            <a href="{% url 'cursos' %}">
                <i class="bi bi-house-fill"></i>
                <span>Voltar</span>
            </a>
        </div>
        <h2 class="titulo">{{ curso.nome_curso }}</h2>
    </div>
    <div class="container-atrasos">
        <div class="lista-alunos">
            <div class="ident">
                <h5 class="titulo-info">Aluno</h5>
                <div class="detalhes-info">Atrasos</div>
                <div class="detalhes-info">Frequência</div>
                <div class="detalhes-info">Faltas</div>
                <div class="detalhes-info">Opções</div>
            </div>

            {% for aluno in alunos_detalhes %}
            <div class="aluno-info">
                <h5 class="titulo-info">{{ aluno.aluno }}</h5>
                <div class="detalhes-info">{{ aluno.atrasos }}</div>
                <div class="detalhes-info">{{ aluno.porcentagem_carga_horaria }}%</div>
                <div class="detalhes-info">{{ aluno.faltas }}</div>
                <div class="detalhes-info options">
                    <a href="#"><i class="bi bi-pencil"></i></a>
                    <a href="#"><i class="bi bi-trash3"></i></a>
                </div>
            </div>
            {% empty %}
            <p>Nenhum aluno encontrado.</p>
            {% endfor %}
        </div>

        <div class="inform">
            <div class="barra-lateral">
                <h3>Informações</h3>
                <p><strong>Responsável: </strong>{{ curso.responsavel }}</p>
                <p><strong>Código da Turma: </strong>{{ curso.turma }}</p>
            </div>

            <div class="botao-lateral">
                <button type="button" class="btn botao-lateral" data-bs-toggle="modal" data-bs-target="#excluirModal"
                    data-bs-whatever="@mdo">
                    Excluir
                </button>
                <a href="{% url 'relatorio' %}"><button>Relatório <i
                            class="bi bi-file-earmark-arrow-down"></i></button></a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="excluirModal" tabindex="-1" aria-labelledby="excluirModalLabel" aria-hidden="true"
    data-bs-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" data-bs-theme="dark">
                <h5 class="modal-title" id="excluirModalLabel">Excluir Curso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja excluir este curso?<br><br>
                Observação: Ao deletar o curso, os alunos serão excluídos.
            </div>
            <div class="modal-footer" data-bs-theme="dark">
                <button type="button" class="btn modal-btn" data-bs-dismiss="modal">Cancelar</button>
                <a href="{% url 'del_curso' %}" class="btn modal-btn">Excluir</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}