{% extends 'index.html' %}
{% load static %}

{% block title %}
Gestão de Atrasos
{% endblock %}

{% block head %}
<style>
    * {
        font-family: "Kumbh Sans";
    }

    .container-conteudo {
        min-height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: var(--background-color);
        padding: 60px;
        box-sizing: border-box;
    }

    .topo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .titulo {
        color: var(--title);
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
    }

    .container-atrasos {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 1200px;
        border-radius: 10px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    .lista-alunos {
        flex: 2;
        padding: 20px;
        border-radius: 10px;
        margin-right: 20px;
    }

    .aluno-info {
        padding: 10px;
        border-radius: 20px;
        background: var(--list-bg-color);
        color: var(--text-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
        flex-wrap: wrap;
    }

    .aluno-info i {
        color: var(--button-home);
    }

    .topo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .voltar {
        font-family: "Krona One", sans-serif;
        font-size: 1rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        text-align: left;
        position: absolute;
        top: 5rem;
        left: 4.6rem;
    }

    .voltar i {
        margin-right: 4px;
        font-size: 1.1rem;
    }


    .voltar a {
        text-decoration: none;
        color: var(--text-color);
    }


    .titulo-info,
    .detalhes-info {
        margin: 0;
        font-size: 0.9rem;
        color: #260104;
        flex: 1;
        text-align: center;
        color: var(--title);
    }

    .ident {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        flex-wrap: wrap;
    }

    .options {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .options a {
        text-decoration: none;
        color: #870000;
        font-size: 18px;
    }

    .inform {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 10px;
        align-items: center;
        gap: 20px;
    }

    .inform h3 {
        margin: 0;
        color: var(--text-color);
    }

    .inform p {
        margin: 5px 0;
        color: var(--text-color);
    }

    .barra-lateral {
        display: flex;
        flex-direction: column;
        background: var(--list-bg-color);

        border-radius: 20px;
        max-width: 270px;
        padding: 1.2rem;
        text-align: left;
        width: 100%;
    }

    .barra-lateral h3 {
        align-self: center;
        font-family: "Krona One", sans-serif;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .barra-lateral p {
        font-size: 0.9rem;
    }

    .botao {
        text-decoration: none;
    }

    .botao-lateral {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .botao-lateral a {
        text-decoration: none;
    }

    .botao-lateral button {
        color: var(--text-color);
        background: var(--list-bg-color);
        text-decoration: none;
        border-bottom: 2px solid transparent;
        border-radius: 10px;
        width: 270px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 10px;
    }

    .botao-lateral button:hover {

        color: var(--text-color);
        border: 2px solid #971c32;
    }



    @media (max-width: 768px) {
        .container-atrasos {
            flex-direction: column;
            align-items: center;
        }

        .lista-alunos,
        .inform {
            width: 100%;
            max-width: none;
        }

        .aluno-info {
            flex-direction: column;
        }
    }
</style>
{% endblock %}

{% block body %}
<div class="container-conteudo animate downUp-1">
    <div class="topo">
        <div class="voltar">
            <a href="{% url 'cursos' %}">
                <i class="bi bi-house-fill"></i>
                <span>Voltar</span>
            </a>
        </div>
        <h2 class="titulo">Análise e Desenvolvimento de Sistemas</h2>
    </div>
    <div class="container-atrasos">
        <div class="lista-alunos">
            <div class="ident">
                <h5 class="titulo-info">Aluno</h5>
                <div class="detalhes-info">Atrasos</div>
                <div class="detalhes-info">Frequência</div>
                <div class="detalhes-info">Faltas</div>
                <div class="detalhes-info">Opções</div>
            </div>

            <div class="aluno-info">
                <h5 class="titulo-info">Natália Vaz Cerqueira</h5>
                <div class="detalhes-info">0</div>
                <div class="detalhes-info">100%</div>
                <div class="detalhes-info">0</div>
                <div class="detalhes-info options">
                    <a href="#"><i class="bi bi-pencil"></i></a>
                    <a href="#"><i class="bi bi-trash3"></i></a>
                </div>
            </div>

            <div class="aluno-info">
                <h5 class="titulo-info">Carlos Eduardo Ribeiro Silva</h5>
                <div class="detalhes-info">3</div>
                <div class="detalhes-info">97%</div>
                <div class="detalhes-info">3</div>
                <div class="detalhes-info options">
                    <a href="#"><i class="bi bi-pencil"></i></a>
                    <a href="#"><i class="bi bi-trash3"></i></a>
                </div>
            </div>

            <div class="aluno-info">
                <h5 class="titulo-info">Mariely Alberto Galvão</h5>
                <div class="detalhes-info">0</div>
                <div class="detalhes-info">100%</div>
                <div class="detalhes-info">0</div>
                <div class="detalhes-info options">
                    <a href="#"><i class="bi bi-pencil"></i></a>
                    <a href="#"><i class="bi bi-trash3"></i></a>
                </div>
            </div>

            <div class="aluno-info">
                <h5 class="titulo-info">Leonardo Pereira Gomes</h5>
                <div class="detalhes-info">12</div>
                <div class="detalhes-info">68%</div>
                <div class="detalhes-info">5</div>
                <div class="detalhes-info options">
                    <a href="#"><i class="bi bi-pencil"></i></a>
                    <a href="#"><i class="bi bi-trash3"></i></a>
                </div>
            </div>

            <div class="aluno-info">
                <h5 class="titulo-info">Ana Carolina Martins Costa</h5>
                <div class="detalhes-info">7</div>
                <div class="detalhes-info">95%</div>
                <div class="detalhes-info">4</div>
                <div class="detalhes-info options">
                    <a href="#"><i class="bi bi-pencil"></i></a>
                    <a href="#"><i class="bi bi-trash3"></i></a>
                </div>
            </div>
        </div>

        <div class="inform">
            <div class="barra-lateral">
                <h3>Informações</h3>
                <p><strong>Responsável: </strong>Carlos e Thiago</p>
                <p><strong>Código da Turma: </strong>ISIDSIS-4-24</p>
                <p><strong>Sala:</strong> C13</p>
            </div>

            <div class="botao-lateral">
                <a href="#"><button>Excluir -</button></a>
                <a href="{% url 'relatorio' %}"><button>Relatório <i
                            class="bi bi-file-earmark-arrow-down"></i></button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}