{% extends 'index.html' %}
{% load static %}

{% block title %}
Cadastro
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/cadastro.css' %}">

{% endblock %}

{% block body %}
<div class="bg_Cadastro animate downUp-1">
    <div class="voltar">
        <a href="{% url 'cursos' %}">
            <i class="bi bi-house-fill"></i>
            <span>Voltar</span>
        </a>
    </div>
    <div class="main">
        <form method="post">
            <h2 class="titulo" style="color: white;">Fazer Cadastro</h2>
            {% csrf_token %}

            <div class="mb-3">
                <label for="exampleInputName" class="form-label">Nome</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-person icone"></i>
                    </span>
                    {{ form.nome }}
                </div>
            </div>

            <div class="mb-3">
                <label for="exampleInputSobrenome" class="form-label">Sobrenome</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-person icone"></i>
                    </span>
                    {{ form.sobrenome }}
                </div>
            </div>

            <div class="mb-3">
                <label for="exampleInputUser" class="form-label">Usuário</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-person icone"></i>
                    </span>
                    {{ form.username }}
                </div>
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword" class="form-label">Senha</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-key icone"></i>
                    </span>
                    {{ form.senha }}
                </div>
            </div>

            {% if messages %}
            <div id="alert-container" class="mt-2 alert alert-warning fade-out" role="alert">
                {% for mensagem in messages %}
                {{ mensagem }}
                {% endfor %}
            </div>
            {% endif %}

            <div style="justify-content: center; align-items: center">
                <button class="button" type="submit"
                    style="color: #40010D; text-decoration: none; text-align:center;">Cadastrar</button>
            </div>
        </form>
    </div>
    <div class="imag">
        <img src="{% static 'img/img_cadastro.webp' %}" alt="Imagem">
    </div>
</div>
{% endblock %}