{% extends 'index.html' %}
{% load static %}

{% block title %}
Cadastro
{% endblock %}

{% block head %}
<style>
    .bg_Cadastro {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        height: 100vh;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        background-color: var(--background-color);
        padding: 0 10%;
    }

    .button {
        color: #260164;
        background-color: #FFFAFB;
        border: none;
        padding: 10px 20px;
        border-radius: 20px;
        margin-top: 20px;
        max-width: 320px;
    }

    .button:hover {
        background-color: #f2f2f2;
        color: #40010D;
    }

    .main {
        margin-top:100px;
        padding: 40px;
        background-color: #7C0D1D;
        border-radius: 40px;
        text-align: center;
        width: 100%;
        max-width: 400px;
        margin-bottom: 30px;
        align-content: center; 
    }

    .imag {
        width: 100%;
        max-width: 600px;
        padding: 10px;
    }

    .imag img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .titulo {
        color: #ffff;
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 20px;
    }

    .form-label {
        color: white;
    }

    .form::placeholder {
        color: #FFFF;
    }

    .form {
        border-radius: 5px;
        border: none;
        color: #FFFAFB;
        border: 0px solid;
        border-image: linear-gradient(to left, #913744, #7C0D1D);
        border-image-slice: 1;
        background: linear-gradient(to right, #913744, #7C0D1D);
    }

    .input-group-text {
        background-color: #913744;
        border: none;
        color: #FFFAFB;
        margin: 0;
    }

    .form::placeholder {
        color: #FFFAFB;
    }

    .form:focus {
        border: none;
        background: linear-gradient(to right, #913744, #7C0D1D);
        color: #FFFAFB;
    }

    .form-label {
        color: #FFFAFB;
    }

    @media (min-width: 768px) {
        .bg_Cadastro {
            justify-content: space-between;
        }

        .main {
            text-align: left;
        }

        .titulo {
            font-size: 2.5rem;
            text-align: center;
        }
    }

    @media (min-width: 1024px) {
        .titulo {
            font-size: 1.5rem;
        }
    }
</style>
{% endblock %}

{% block body %}
<div class="bg_Cadastro">

    <div class="main">

        
        <form method="post">
            <h2 class="titulo" style="color: white;">Fazer Cadastro</h2>
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="exampleInputName" class="form-label">Nome</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-person icone"></i>
                    </span>
                    {{ form.nome }}
                </div>
            </div>

            <div class="mb-3">
                <label for="exampleInputSobrenome" class="form-label">Sobrenome</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-person icone"></i>
                    </span>
                    {{ form.sobrenome }}
                </div>
            </div>

            <div class="mb-3">
                <label for="exampleInputUser" class="form-label">Usuário</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-person icone"></i>
                    </span>
                    {{ form.username }}
                </div>
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword" class="form-label">Senha</label>
                <div class="input-group">
                    <span class="input-group-text" style="background-color: #913744; border: none;">
                        <i class="bi bi-lock icone"></i>
                    </span>
                    {{ form.senha }}
                </div>
            </div>

            <button class="button" type="submit" style="color: #40010D; text-decoration: none;">Cadastrar</button>
        </form>
        
    </div>
    <div class="imag">
        <img src="{% static 'img/img_cadastro.webp' %}" alt="Imagem">
    </div>
</div>
{% endblock %}
.main {
    margin-top: 100px;
    padding: 40px;
    background-color: #7C0D1D;
    border-radius: 40px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 30px;
    align-content: center;
}
