{% extends 'index.html' %}
{% load static %}

{% block title %}
Cursos
{% endblock %}

{% block head %}
<style>
    * {
        font-family: "Kumbh Sans";
    }

    .container-conteudo {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: var(--background-color);
        padding: 60px;
        box-sizing: border-box;
    }

    .container-cursos {
        width: 100%;
        max-width: 1000px;
        border-radius: 10px;
        color: #260104;
    }

    .curso {
        padding: 18px;
        border-radius: 20px;
        background: var(--list-bg-color);
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 15px 0;
        flex-wrap: wrap;
    }

    .curso:hover {
        background: #971c32;
        color: #fff;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .titulo-curso,
    .detalhes-curso {
        margin: 0;
        font-size: 0.9rem;
        color: #454444;
        flex: 1;
        text-align: center;
        text-decoration: none;
        color: var(--text-color);
    }

    .topo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titulo {
        color: var(--text-color);
        font-size: 2rem;
        font-weight: 400;
        margin: 20px;
        padding: 30px;
    }

    .ident {
        display: flex;
        color: var(--text-color);
        justify-content: space-around;
        align-items: center;
        margin: 0 15px;
        flex-wrap: wrap;
        text-align: center;
        padding: 10px;
    }

    .cabecalho {
        margin: 0;
        font-size: 1.0rem;
        color: var(--text-color);
        flex: 1;
        text-align: center;
        text-decoration: none;
    }

    .opcoes {
        display: flex;
        align-self: flex-start;
        align-items: center;
        margin-left: 4.5rem;
        margin-bottom: 2rem;
        gap: 10px;
        font-size: 1.2rem;
    }

    .opcoes a {
        color: var(--text-color);
        text-decoration: none;

    }

    .opcoes a:hover {
        color: #8C031C;
    }

    a:hover,
    a:focus {
        text-decoration: none;
        color: inherit;

    }
</style>
{% endblock %}

{% block body %}
<div class="container-conteudo animate downUp-1">
    <div class="topo">
        <h2 class="titulo">Cursos</h2>
        <div class="opcoes">
            <span>Cursos |</span> <a href="{% url 'notificacoes' %}"><i class="bi bi-bell"></i></a> <span> | </span> <i
                class="bi bi-sliders"></i>
        </div>
    </div>
    <div class="container-cursos">
        <div class="ident">
            <h5 class="cabecalho">Curso</h5>
            <h5 class="cabecalho">Turma</h5>
            <h5 class="cabecalho">Atrasos</h5>
        </div>
        <div class="fundo-curso">
            {% for curso in cursos %}
            <a href="{% url 'alunos' curso.turma %}" class="link_bloco">
                <div class="curso">
                    <h5 class="titulo-curso">{{ curso.nome_curso }}</h5>
                    <h5 class="titulo-curso">{{curso.turma}}</h5>
                    <h5 class="titulo-curso">40%</h5>
                </div>
            </a>
            {% empty %}
            <p>Nenhum curso encontrado.</p>
            {% endfor %}
        </div>
        <div class="ident">
            <a href="{% url 'relatorio' %}" class="titulo-curso">Relatório <i
                    class="bi bi-file-earmark-arrow-down"></i></a>
        </div>
    </div>
</div>
{% endblock %}