{% extends 'index.html' %}
{% load static %}

{% block title %}
Homepage
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
<div class="bg_Home">
    <div class="main">
        <h2 class="titulo">Gestão de Atrasos</h2>
        <button><a href="{% url 'login' %}" style="color: #FFFAFB; text-decoration: none;" class="rounded-pill">Login</a></button>
        <button><a href="{% url 'cadastro' %}" style="color: #FFFAFB; text-decoration: none;" class="rounded-pill">Cadastro (Teste)</a></button>
    </div>
    <div class="imag">
        <img src="{% static 'img/img_home.webp' %}" alt="Imagem de fundo">
    </div>
</div>
{% endblock %}
