{% extends 'index.html' %}
{% load static %}

{% block title %}
Login
{% endblock %}

{% block head %}
<style>
    .bg_Login {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        height: 100vh;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        background-color: var(--background-color);
        padding: 0 10%;
    }

    .button {
        color: #260164;
        background-color: #FFFAFB;
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
        margin-top: 20px;
        width: 320px;
    }

    .button:hover {
        background-color: #f2f2f2;
        color: #40010D;
    }

    .main {
        padding: 40px;
        background: linear-gradient(135deg, #4e0205, #8d0103);
        border-radius: 40px;
        text-align: center;
        width: 100%;
        max-width: 400px;
        margin-bottom: 20px;
        align-content: center;
    }

    .imag {
        width: 100%;
        max-width: 500px;
        padding: 10px;
    }

    .imag img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .titulo {
        color: #FFFAFB;
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 20px;
    }

    .form {
        border: none;
        background: linear-gradient(to right, #913744, #7C0D1D);
        color: #FFFAFB;
    }

    .form::placeholder {
        color: #FFFAFB;
    }

    .form:focus {
        border: none;
        background: linear-gradient(to right, #913744, #7C0D1D);
        color: #FFFAFB;
    }

    .form-label {
        color: #FFFAFB;
    }

    .icone {
        color: #FFFAFB;
    }

    .input-group {
        border: 1px solid;
        border-image: linear-gradient(to left, #913744, #7C0D1D);
        border-image-slice: 1;
        border-radius: 5px;
    }

    .input-group-text {
        background-color: #913744;
        border: none;
        color: #FFFAFB;
        margin: 0; 
    }

    .esconder_senha {
        color: #FFFAFB;
        cursor: pointer;
        position: absolute;
        right: 5%;
        top: 20%;
    }

    @media (min-width: 768px) {
        .bg_Login {
            justify-content: space-between;
        }

        .main {
            text-align: left;
        }

        .titulo {
            font-size: 2.5rem;
            text-align: center;
        }
    }

    @media (min-width: 1024px) {
        .titulo {
            font-size: 1.5rem;
        }
    }
</style>
{% endblock %}

{% block body %}
<div class="bg_Login">
    <div class="main">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <h2 class="titulo" style="color: white;">Fazer Login</h2>
                <label for="username" class="form-label">Nome de Usuário</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-person icone"></i>
                    </span>
                    {{ form.username }}
                </div>
            </div>

            <!-- INPUTA A SENHA -->
            <div class="mb-3">
                <label for="senha" class="form-label">Senha</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-lock icone"></i>
                    </span>
                    {{ form.senha }}
                    <i class="bi bi-eye esconder_senha" onclick="mostrar()" id="btnSenha"></i>
                </div>
            </div>
            <button class="button" type="submit">Entrar</button>

            {% if messages %}
                {% for mensagem in messages %}
                    <div class="mt-2 alert alert-warning" role="alert">
                        {{ mensagem }}
                    </div>
                {% endfor %}
            {% endif %}
        </form>
    </div>
    <div class="imag">
        <img src="{% static 'img/img_login.webp' %}" alt="Imagem">
    </div>
</div>
{% endblock %}
