{% extends 'index.html' %}
{% load static %}

{% block title %}
Login
{% endblock %}

{% block head %}
<style>
    * {
        font-family: "Kumbh Sans";
    }

    .bg_Login {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        height: 100vh;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        background-color: var(--background-color);
        padding: 0 10%;
    }

    .button {
        color: #260164;
        background-color: #FFFAFB;
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
        margin-top: 20px;
        max-width: 320px;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
    }

    .button:hover {
        background-color: #f2f2f2;
        color: #40010D;
    }

    .main {
        padding: 40px;
        background: var(--background);
        border-radius: 20px;
        text-align: center;
        width: 100%;
        max-width: 400px;
        align-content: center;
    }

    .imag {
        width: 100%;
        max-width: 500px;
        padding: 10px;
    }

    .imag img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .titulo {
        color: #FFFAFB;
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 20px;
    }

    .form {
        border: none;
        background: var(--input-bg);
        color: #FFFAFB;
    }

    .form::placeholder {
        color: #FFFAFB;
        font-size: 13px;
    }

    .form:focus {
        border: none;
        background: var(--input-bg);
        color: #FFFAFB;
    }

    .form-label {
        color: #FFFAFB;
    }

    .icone {
        color: #FFFAFB;
    }

    .input-group {
        border: none;
        overflow: hidden;
        border-radius: 5px;
        background: var(--input-bg);
        padding: 1px;
    }

    .input-group .form-control {
        border: none;
        border-radius: 0;
    }

    .input-group-text {
        background-color: var(--input-bg);
        border: none;
        color: #FFFAFB;
    }

    .esconder_senha {
        color: #FFFAFB;
        cursor: pointer;
        position: absolute;
        right: 5%;
        top: 20%;
    }

    .fade-out {
        opacity: 1;
        transition: opacity 0.5s ease-out;
    }

    .fade-out-hidden {
        opacity: 0;
        height: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
        transition: opacity 0.5s ease-out, height 0s 0.5s;
        pointer-events: none;
    }

    @media (min-width: 768px) {
        .bg_Login {
            justify-content: space-between;
        }

        .main {
            text-align: left;
        }

        .titulo {
            font-size: 2.5rem;
            text-align: center;
        }
    }

    @media (min-width: 1024px) {
        .titulo {
            font-size: 1.5rem;
        }
    }
</style>
{% endblock %}

{% block body %}
<div class="bg_Login animate downUp-1">
    <div class="main">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <h2 class="titulo">Fazer Login</h2>
                <label for="username" class="form-label">Nome de Usuário</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-person icone"></i>
                    </span>
                    {{ form.username }}
                </div>
            </div>
            <!-- INPUT DA SENHA -->
            <div class="mb-3">
                <label for="senha" class="form-label">Senha</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-key icone"></i>
                    </span>
                    {{ form.senha }}
                    <i class="bi bi-eye esconder_senha" onclick="mostrar()" id="btnSenha"></i>
                </div>
            </div>
            {% if messages %}
            <div id="alert-container" class="mt-2 alert alert-warning fade-out" role="alert">
                {% for mensagem in messages %}
                {{ mensagem }}
                {% endfor %}
            </div>
            {% endif %}
            <button class="button" type="submit">Entrar</button>
        </form>
    </div>
    <div class="imag">
        <img src="{% static 'img/img_login.webp' %}" alt="Imagem">
    </div>
</div>
{% endblock %}