{% extends 'index.html' %}
{% load static %}

{% block title %}
Cursos
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/notificacoes.css' %}">

{% endblock %}

{% block body %}
<div class="container-conteudo animate downUp-1">
    <div class="topo">
        <div class="voltar">
            <a href="{% url 'cursos' %}">
                <i class="bi bi-house-fill"></i>
                <span>Voltar</span>
            </a>
        </div>
        <h2 class="titulo">Notificações</h2>
    </div>
    <div class="container-cursos">
        <div class="ident">
            <h5 class="nome-aluno">Nome</h5>
            <div class="detalhes-aluno">Atrasos</div>
            <div class="detalhes-aluno">Turma</div>
        </div>
        <div class="fundo-curso">
            {% for aluno in alunos_notificados %}
            <div class="curso">
                <h5 class="nome-aluno">{{ aluno.nome }}</h5>
                <div class="detalhes-aluno">{{ aluno.total_atrasos }}</div>
                <div class="detalhes-aluno">{{ aluno.turma}}</div>
            </div>
            {% empty %}
            <div class="curso">
                <h5 class="nome-aluno">Nenhum aluno com notificações.</h5>
                <div class="detalhes-aluno">0</div>
                <div class="detalhes-aluno">N/A</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}