{% extends 'index.html' %}
{% load static %}

{% block title %}
Relatório
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/relatorio.css' %}">
{% endblock %}

{% block body %}
<div class="bg_relatorio animate downUp-1">
    <div class="topo">
        <div class="voltar">
            <a href="{% url 'cursos' %}">
                <i class="bi bi-house-fill" aria-hidden="true"></i>
                <span>Voltar</span>
            </a>
        </div>
        <h2 class="titulo">Relatórios</h2>
    </div>
    <div class="container-cursos">
        <div class="imagem">
            <img src="{% static 'img/imagem_relatorios.webp' %}" alt="Imagem ilustrativa de relatórios">
        </div>
        <div class="relatorio-geral">
            <form method="GET" action="{% url 'relatorio' %}">
                <input type="hidden" name="format" value="pdf">
                <button type="submit">Gerar relatório em PDF</button>
            </form>
            <button type="button" data-bs-toggle="modal" data-bs-target="#relatorioModal">
                Sobre os Relatórios
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="relatorioModal" tabindex="-1" aria-labelledby="relatorioModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" data-bs-theme="dark">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="relatorioModalLabel">Sobre os relatórios</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    O relatório a ser baixado preza por mostrar à gestão escolar os dados referentes aos
                    maiores números de atrasos e faltas dos alunos, mostrando sua porcentagem total de frequência.
                    Assim, a gestão terá uma visão geral
                    sobre seus alunos, facilitando a tomada de decisões e gerenciamento da escola. Para
                    uma acessibilidade mais ampla, o relatório contará com tabelas contendo os dados a
                    serem analisados.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}