{% extends 'index.html' %}
{% load static %}

{% block title %}Relatório{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/relatorio.css' %}">
{% endblock %}

{% block body %}
<div class="bg_relatorio animate downUp-1">
    <div class="topo">
        <div class="voltar">
            <a href="{% url 'cursos' %}">
                <i class="bi bi-house-fill" aria-hidden="true"></i>
                <span>Voltar</span>
            </a>
        </div>
        <h2 class="titulo">Relatórios</h2>
    </div>
    <div class="container-cursos">
        <div class="imagem">
            <img src="{% static 'img/imagem_relatorios.webp' %}" alt="Imagem ilustrativa de relatórios">
        </div>
    </div>
    <div class="relatorio-lista">
        <div class="relatorio-geral">
            <!-- Botão para gerar o PDF -->
            <form method="GET" action="{% url 'relatorio' %}">
                <input type="hidden" name="format" value="pdf">
                <button type="submit">Gerar relatório em PDF</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}