* {
    font-family: "Kumbh Sans";
}

.bg_Cadastro {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--background-color);
    gap: 10px;
    padding: 80px;
    padding-top: 60px;
}

.voltar {
    font-family: "Krona One", sans-serif;
    font-size: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: left;
    position: absolute;
    top: 5rem;
    left: 4.6rem;
}

.voltar i {
    margin-right: 4px;
    font-size: 1.1rem;
}


.voltar a {
    text-decoration: none;
    color: var(--text-color);
}

.main {
    padding: 40px;
    background: var(--background);
    border-radius: 30px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 30px;
}

.button {
    color: #260164;
    background-color: #FFFAFB;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #f2f2f2;
    color: #40010D;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-warning {
    background-color: #fff3cd;
    color: #856404;
}

.imag {
    width: 100%;
    max-width: 600px;
}

.imag img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.titulo {
    color: #ffff;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.form {
    border: none;
    background: var(--input-bg);
    color: #FFFAFB;
}

.form::placeholder {
    color: #FFFAFB;
    font-size: 13px;
}

.form:focus {
    border: none;
    background: var(--input-bg);
    color: #FFFAFB;
}

.form-label {
    color: #FFFAFB;
}

.icone {
    color: #FFFAFB;
}

.input-group {
    border: none;
    overflow: hidden;
    border-radius: 5px;
    background: var(--input-bg);
    padding: 1px;
}

.input-group .form-control {
    border: none;
    border-radius: 0;
}

.input-group-text {
    background-color: var(--input-bg);
    border: none;
    color: #FFFAFB;
}

@media (min-width: 768px) {
    .bg_Cadastro {
        justify-content: space-between;
        gap: 10px;
    }

    .main {
        text-align: left;
    }

    .titulo {
        font-size: 1.5rem;
        text-align: center;
    }
}

@media (min-width: 1024px) {
    .titulo {
        font-size: 1.5rem;
    }
}