body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Kumbh Sans";
    background-color: var(--background-color);
}

.aluno {
    background-color: #40010D;
    color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.aluno form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.aluno label {
    margin-bottom: 10px;
}

.aluno input[type="file"] {
    margin-bottom: 15px;
}

.aluno button {
    background: var(--list-bg-color);
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.aluno button:hover {
    background-color: #8C031C;
}