body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Kumbh Sans";
    background-color: var(--background-color);
}

.criar_curso {
    background: var(--list-bg-color);
    color: #fefffa;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.criar_curso form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}

.criar_curso label {
    margin-bottom: 10px;
    background-color: rgb(238, 75, 75);
}

.criar_curso input[type="file"] {
    margin-bottom: 15px;
}

.input-group-text {
    color: rgb(238, 75, 75)
}