*{
    text-decoration: none;
}

.titulo{
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.texto{
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "YOPQ" 300;
}

.navbarcor{
    background-color: #7C0D1D"
}

.nav-mobile{
    text-decoration: none;
}
