* {
    font-family: "Kumbh Sans";
}

.container-conteudo {
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: var(--background-color);
    padding: 60px;
    box-sizing: border-box;
}

.container-cursos {
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
    color: #260104;
}

.curso {
    padding: 18px;
    border-radius: 20px;
    background: var(--list-bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 15px 0;
    flex-wrap: wrap;
}

.curso .nome-aluno,
.curso .detalhes-aluno,
.curso .detalhes-info {
    flex: 1;
    text-align: center;
}

.fundo-curso a:hover .nome-aluno,
.fundo-curso a:hover .detalhes-aluno {
    color: #fff;
}

.fundo-curso :hover {
    background: #971C32;
    color: #fff;
    text-decoration: none;
}

.nome-aluno {
    margin: 0;
    font-size: 0.9rem;
    color: var(--text-color);
    flex: 1;
    text-align: center;
    text-decoration: none;
}

.detalhes-aluno {
    margin: 0;
    font-size: 0.9rem;
    color: var(--text-color);
    flex: 1;
    text-align: center;
    text-decoration: none;
}

.detalhes-info,
.options {
    text-decoration: none;
    color: var(--text-color);
    display: flexbox;
    gap: 10px;
}

.options a {
    color: var(--text-color);
    text-decoration: none;
}

.topo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.voltar {
    font-family: "Krona One", sans-serif;
    font-size: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: left;
    position: absolute;
    top: 5rem;
    left: 4.6rem;
}

.voltar i {
    margin-right: 4px;
    font-size: 1.1rem;
}


.voltar a {
    text-decoration: none;
    color: var(--text-color);
}

.titulo {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 400;
    margin: 20px;
    padding: 40px
}

.ident {
    display: flex;
    color: #ff0000;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;

}

.ident a {
    text-decoration: none;
    color: var(--text-color)
}

.ident a:hover {
    color: #971C32;
}

.titulo-curso {
    color: black;
}

@media (max-width: 768px) {
    .titulo-cabecalho {
        font-size: 2rem;
    }

    .curso,
    .ident {
        flex-direction: column;
        text-align: center;
    }

    .nome-aluno,
    .detalhes-aluno {
        font-size: 0.8rem;
        text-align: left;
    }
}