* {
    font-family: "Kumbh Sans";
}

.bg_relatorio {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--background-color);
    padding: 40px;
    margin: 0px;
}

.topo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.voltar {
    font-family: "Krona One", sans-serif;
    font-size: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: left;
    position: absolute;
    top: 5rem;
    left: 4.6rem;
}

.voltar i {
    margin-right: 4px;
    font-size: 1.1rem;
}


.voltar a {
    text-decoration: none;
    color: var(--text-color);
}

.titulo {
    font-size: 2rem;
    color: var(--title);
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

.container-cursos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.imagem {
    max-width: 450px;
    max-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem img {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;

}

.icons {
    display: flex;
    align-items: center;
}

.icons i {
    margin-left: 10px;
    cursor: pointer;
    color: var(--text-color);
}

.botoes {
    display: flex;
    flex-direction: column;
}

.relatorio-geral {
    text-align: center;
}

.relatorio-geral button {
    background: var(--list-bg-color);
    border: none;
    border-radius: 20px;
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.relatorio-geral button:hover {
    background: #8C031C;
    color: #fff;
}

.modal-content {
    background: var(--background);
    color: #fff;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .titulo {
        font-size: 1rem;
    }

    .container-cursos {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .relatorio-lista {
        margin-right: 0;
        width: 100%;
    }

    .imagem {
        max-width: 300px;
    }

    .relatorio-item {
        flex-direction: column;
        text-align: center;
    }

    .voltar {
        left: 10px;
        top: 10px;
    }
}