/* Definição das cores */
:root {
    --text-color: #FFFAFB;
    --title-color: #FFFAFB;
    --background-color: #260104;
    --button-gradient-start: #DF79A9;
    --button-gradient-middle: #CC5854;
    --button-gradient-end: #40010D;
    --navbar-bg-color: #260104;
    --list-bg-color: radial-gradient(circle at 20% 30%, #6A2D3F, #450D0F 50%, #390C0E 80%);
    --button-bg-color: #8C031C;
    --table-bg-color: rgba(79, 1, 13, 0.2);
    --background: radial-gradient(circle at 20% 30%, #6A2D3F, #450D0F 50%, #390C0E 80%);
    --input-bg: radial-gradient(circle at 20% 30%, #6A2D3F, #450D0F 50%, #390C0E 80%);
    --button-home: #FFFAFB;
}

[data-theme="light"] {
    --text-color: #260104;
    --title-color: #260104;
    --background-color: #FFFAFB;
    --button-gradient-start: #FFFAFB;
    --button-gradient-middle: #FFFAFB;
    --button-gradient-end: #FFFAFB;
    --navbar-bg-color: #7C0D1D;
    --list-bg-color: #FFECF0;
    --button-bg-color: #FFFAFB;
    --table-bg-color: rgba(255, 236, 240, 0.7);
    --background: #7C0D1D;
    --input-bg: radial-gradient(circle at 20% 30%, #821B2A, #872634 50%, #892D3A 80%);
    --button-home: #7C0D1D;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.7;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.navbar {
    background-color: var(--navbar-bg-color);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.bg_Home {
    background-color: var(--background-color);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.btn-custom {
    background: linear-gradient(145deg, var(--button-gradient-start), var(--button-gradient-middle) 20%, var(--button-gradient-end));
    color: var(--text-color);
    transition: background 0.5s ease, color 0.5s ease;
}

.button {
    width: 200px;
    padding: 5px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-family: inherit;
    cursor: pointer;
    background-color: var(--button-bg-color);
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    transition: background-color 0.5s ease, color 0.5s ease;
}